@charset "UTF-8";

html {
    height: 100vh;
}

body {
    background: url(../imgs/bkg_car.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

h2, h4 {
    color: white;
    font-weight: bold !important;
    margin: 2rem 0 2rem 0 !important;
}

.rentacar-container {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.footer {
    background-color: rgb(246,246,246);
    background-image: url(../imgs/rent-car.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    width: 100%;
    max-height: 4.5rem;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    order: 4;
}

.content {
    flex: 1 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.mail-form-panel {
    min-height: 220px;
}

p.form-datos {
    margin: 2rem 0 1rem 2rem;
    color: white;
}

a.form-datos {
    margin-top: 15px;
}

input.input-renta {
    margin: 1rem 0 0 2rem;
    width: 70%;
    line-height: 26px;
}

p.form-contact {
    margin-top: 5px;
    color: white;
    margin: 0 0 0 2rem;
}

.dropdown-renta {
    margin: 1rem 0 0 2rem;
    max-width: 70%;
}

.fecha-input {
    margin: 0 0 0 2rem;
    width: 70%;
}

.hora-input {
    margin: 0 0 0 2rem;
    width: 70%;
}

.labelFilePurple {
    color: #b84dff !important;
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}

.div_center {
    text-align: center;
    margin-top: 15px;
}

.labelpurple_ui_errors {
    color: #b84dff !important;
    margin-left: 20px;
    max-width: 250px;
    font-size: 20px;
}

.labelpurple_ui_errors_form {
    color: #b84dff !important;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}

.labelpurple_ui_errors_form div {
    max-width: 250px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em;
}

.welcome-message {
    display: block;
    text-align: center;
    color: white;
    font-size: 3rem !important;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 9px;
    align-items: center;
    justify-content: center;
    order: 1;
    flex: 0 0 15%;
}

.bold-title {
    font-weight: 600;
}

.bold-title3 {
    font-weight: 300;
    font-size: 1.2rem !important;
    margin-top: 0.7rem;
}

.rentacar-form {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    opacity: 0.73;
    max-height: 80%;
    border: 1px solid #ccc;
    background-color: rgb(52, 52, 52);
    border-radius: 7px;
    border-color: #002236;
    order: 2;   
    margin: 0 1rem;
    height: 100%;
}

.rentacar-form-flex {
    display: flex;
    flex-direction: column;
    flex: 0 0 75%;
    height: 100%;
}

.rentacar-form-inside {
    display: flex;
    flex-direction: row;
    flex: 0 0 90%;
    flex-wrap: wrap;
}

.help-contact {
    flex: 0 0 10%;
}

.rentacar-form-column {
    order: 1;
    flex: 0 0 50%;
}

.car-model {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 0 0 50%;
}

.car-name {
    flex-grow: 1;
    margin-top: 3.5rem;
    margin-right: 2rem;
}

div.car-image{
    flex-grow: 2;
    margin: 0.5rem 2rem 0.5rem 0;
}

.car-image > img {
    width: 100%;
    height: auto;
    max-height: 80%;
}

.submitRentar {
    flex-grow: 1;
    margin-right: 2rem;
}

.submit_button {
    float: right;
    color: white !important;
    border-color: white !important;
}

.form-title {
    margin-top: 15px;
}

.form-row {
    width: 100%;
    color: white;
}

.form-row p {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.form-label {
    color: white !important;
}

#list {
    overflow-x: auto;
}

.top-component {
    height: 100%;
}

.swal-text {
    text-align: center !important;
}

.swal-button {
    background-color: #4870AD !important;
}

.swal-button--cancel {
    color: #555;
    background-color: #efefef !important;
}

.swal-button--danger {
    background-color: #e64942 !important;
}

.swal-button-container .cancel {
    -webkit-order: 2;
    order: 2;
}

.swal-button-container .swal-confirm-button-container {
    -webkit-order: 1;
    order: 1;
}

@media only screen and (max-width: 31em) {
    .footer {
        background-size: 38%;
    }
}

@media only screen and (min-width: 31em) and (max-width: 48em) {

    .mail-form-panel {
        min-height: unset;
    }

    .footer {
        background-size: 38%;
    }
}

@media only screen and (min-width: 48em) and (max-width: 100em) {
    .rentacar-form {
        min-width: 80%;
    }
}

@media only screen and (min-width: 100em) {
    .rentacar-form {
        min-width: 80%;
    }
}